.app {
    &-main {
        &-header {
            width: 100%;
            background: rgb(0, 0, 0, 0.5);
            border-radius: 10px;
            border: 1px solid rgb(255, 255, 255, 0.2);
            height: auto;
            padding: 20px 10px;

            &__wrapper {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 0 30px;
            }

            &__text {
                display: flex;
                align-items: center;
                column-gap: 15px;
                &_title {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 400;
                }
            }

            &__attributes {
                display: flex;
                column-gap: 15px;

                &_status {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    .state {
                        width: 10px;
                        height: 10px;
                        border-radius: 100px;
                        background-color: #359700;
                    }
                    .status-text {
                       font-size: 16px;
                       font-weight: 500;
                        color: #359700;
                    }
                }
                

                &_profit {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    border-radius: 10px;
                    border: 1px solid #80808052;
                    padding: 10px 15px;
                    background-color: #00000000;
                    cursor: pointer;
                    position: relative;
                    .profit {
                        &-text {
                            color: #808080;
                            font-size: 16px;
                        }
                        &-icon {
                            transition: 0.3s ease-in-out;
                            &-active {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    &-disable {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        left: 0;
                        top: 120%;
                        z-index: 5;
                        background-color: #000;
                        width: 100%;
                        border-radius: 10px;
                        padding: 5px 0px;
                        border: 1px solid #80808052;
                        align-items: center;
                        animation: disable-show 0.5s;

                        &_li {
                             color: #808080;
                             font-size: 16px;
                             width: 90%;
                             padding: 15px 0;
                             border-radius: 10px;
                             font-weight: 600;
                            &:hover {
                                background-color: #8080803d;
                            }
                        }
                    }

                    @keyframes disable-show {
                        0% {
                            opacity: 0;
                            top: 0%;
                        }
                        100% {
                            opacity: 1;
                            top: 120%;
                        }
                    }
                }

                &_onoff {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    border-radius: 10px;
                    border: 1px solid #80808052;
                    padding: 10px 15px;
                    background-color: #00000000;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        border: 1px solid #808080e0;
                        .onoff {
                            &-text {
                                color: #b6b6b6;
                           
                            }
                        }
                    }
                    .onoff {
                        &-text {
                            color: #808080;
                             transition: 0.3s ease-in-out;
                            font-size: 16px;
                        }
                    }

                    &-active {
                        border: 1px solid #047c00ee;
                        background-color: #35970010;
                         .onoff {
                            &-text {
                                color: #047c00ee;
                           
                            }
                        }
                    }
                }

            }
        }
    }
}