@import "../../../styles/utils/mixins";

.app {
    &-main {
        &-field {
            &__other {
                height: 100%;
                width: 35%;
                display: flex;
                row-gap: 15px;
                flex-direction: column;
                &_exchanges {
                    @include main-style-board;
                    width: 100%;
                    height: 55%;

                    &-list {
                        margin-top: 20px;
                        display: flex;
                        gap: 10px;
                    }

                    &-item {
                        display: flex;
                        align-items: center;
                        column-gap: 30px;
                        border-radius: 50px;
                        border: 1px solid #5b5b5ba1;
                        padding: 13px 15px;
                        background: rgb(255, 255, 255, 0.05);

                        &-status {
                            display: flex;
                            align-items: center;
                            column-gap: 10px;
                            .status-exchange {
                                width: 7px;
                                height: 7px;
                                border-radius: 100px;
                                background-color: #359700;
                            }
                            .status-text {
                                font-size: 16px;
                                font-weight: 500;
                                color: #359700;
                            }
                        }
                    }
                }
            }
        }
    }
}