@import "../../../styles/utils/mixins";


.app {
    &-main {
        &-field {
            &__other {
                &_notify {
                    @include main-style-board;
                    height: 45%;
                }
            }
        }
    }
}