.app {
    width: 100%;
    height: 100dvh;
    background: url("/background/bg-app.png") center center / cover no-repeat;

    &-wrapper {
        display: flex;
        column-gap: 15px;
        padding: 10px 10px;
        width: 100%;
        height: 100dvh;
    }

    &-main {
        width: 85%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        height: 100%;
    }
}
