.app {
    &-aside {
        width: 15%;
        background: rgb(0, 0, 0, 0.5);
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255, 0.2);
        height: calc(100dvh - 20px);

        &-wrapper {
            width: 100%;
            height: 100%;
            padding: 35px 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-accaunt {
            display: flex;
            column-gap: 15px;
            align-items: center;

            &__avatar {
                width: 50px;
                height: 50px;
            }
            &__text {
                display: flex;
                row-gap: 2px;
                flex-direction: column;
               
                &_name {
                    color: #fff;
                    font-size: 16px;
                    text-transform: uppercase;
                }
                &_tag {
                    font-size: 14px;
                    color: #FF5000;
                }
            }
        }

        &-navigate {
            display: flex;
            flex-direction: column;
            row-gap: 35px;
            padding-left: 5px;
            &__item {
                position: relative;
                // padding: 10px;
                
                &::before {
                    content: "";
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3px;
                    border-radius: 10px;
                    height: 35px;
                    background-color: #FF5000;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s ease-in-out;
                }
                &:hover {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                    h4 {
                        color: #ac4313;
                        font-size: 17px;
                    }
                    img {
                        fill: #fff;
                    }

                    svg {
                        path {
                            fill: #FF5000;
                        }
                    }
                }
                &_link {
                    display: flex;
                    align-items: center;
                    column-gap: 25px;
                }   

                &_icon {
                    width: 27px;
                    height: 27px;
                }

                &_text {
                    color: #838383;
                    font-size: 17px;
                }
            }
        }

        &-logout {
            display: flex;
            column-gap: 15px;
            align-items: center;
            cursor: pointer;
            &__text {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}