@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
}

button, input, textarea {
    outline: none;
    border: none;
}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}